/* -- MOBILE STYLE -- */
.logo h2 {
    margin-bottom: 0px;
    padding-bottom: 0;
    color: var(--white-color);
    transition: color 0.5s ease;
}

.logo p {
    margin: 0;
    margin-top: -15px;
    color: var(--white-color);
    transition: color 0.5s ease;
}

.navigation {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.off-screen-menu>ul>li>a {
    display: inline;
    position: relative;
}

.nav-items {
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.nav-items a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    bottom: -2px;
    left: 0;
    transition: width 0.5s ease;
    position: absolute;
}

.nav-items a.active::after {
    width: 100%;
}

.off-screen-menu {
    background-color: var(--grey-color);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.off-screen-menu.active {
    right: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding-top: 20px; 
    background-color: transparent;
    transition: background-color 0.5s ease;
    z-index: 10;
    box-sizing: border-box;
}

.scrolled{
    background-color: var(--white-color);
}

.scrolled-text{
    color: var(--black-color) !important;
}

.scrolled-ham{
    background-color: var(--black-color) !important;
}

.scrolled-hr{
    background-color: var(--white-color);
}


header>hr {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    background-color: var(--white-color);
    height: 1px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: left 1s ease-out;
}

header>hr.active {
    left: -450px
}


/* --- hamburge menu -- */

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease, background-color 0.5s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* -- Close animation X -- */

.ham-menu.active span:nth-child(1) {
    background-color: var(--black-color);
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    background-color: var(--black-color);
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* -- SMALL TABLETS -- */
@media screen and (min-width: 620px){

}