/* -- Hero -- */
.hero {
    height: 100vh;
}

.hero-img img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: 0 -30px;
    top: 0;
    z-index: 1;
}

.hero-img::after {
    content: "";
    position: absolute;
    background-color: rgba(23, 25, 27, 0.70);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero .text {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}

.hero .text h1 {
    color: var(--white-color);
    font-weight: 500;
}

.hero .text p{
    display: none;
}


/* -- Specialty -- */

.specialty-img img:nth-child(2){
    display: none;
}

.specialty-img img {
    width: 80%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.specialty-img {
    text-align: center;
}

.specialty-text h2 {
    margin-bottom: 40px;
}

.specialty button {
    margin-top: 40px;
}


/* -- Call to action -- */

.call-to-action {
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
}

.call-to-action-img img {
    width: calc(100% + 60px);
    margin: 0 -30px;
    height: 220px;
    object-fit: cover;
}

.call-to-action-img {
    position: relative;
}

.call-to-action-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 25, 27, 0.70);
    backdrop-filter: blur(5px);
    width: calc(100% + 60px);
    margin: 0 -30px;
    height: 220px;
}

.call-to-action button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.call-to-action button {
    width: 60%;
    border: 1px solid var(--accent-color);
    background-color: transparent;
}

.call-to-action button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}


/* -- Dishes -- */
/* Carousel */

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px 0;
    cursor: grab;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}


.carousel-item {
    flex: none;
    scroll-snap-align: start;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carousel-item h3 {
    margin: 20px 0 10px;
}

.carousel-item p {
    margin: 0 10px;
}


.dishes {
    text-align: center;
}

.dishes button {
    margin-top: 70px;
    margin-bottom: 70px;
}

.dishes h1 {
    margin-bottom: 40px;
}


/* -- Reservation -- */

.rezervation {
    width: calc(100% + 60px);
    height: 100%;
    margin: 0 -30px;
    background-image: url(../../assets/img/rivior/contact-section-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rezervation-content {
    padding: 40px 30px 50px 30px;
}

.reservation-table {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 50px 0;
}

.reservation-table-content {
    padding: 35px 22px;
}

.reservation-table-content h2 {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
}

.reservation-table-content p {
    color: var(--white-color);
    margin-bottom: 8px;
}

.thank-you {
    text-align: center;
}

/* Form */

#name {
    width: 100%;
}

#phone {
    width: 100%;
}

#persons {
    width: 50%;
}

#time {
    width: 50%;
}

.form-item-row {
    display: flex;
    gap: 35px
}

#date {
    width: 100%;
}

form input {
    height: 35px;
    margin-top: 25px;
    border: 2px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

input[type=submit] {
    width: 100%;
    background-color: var(--white-color);
    font-size: 20px;
    font-family: var(--main-font), var(--fallback-font);
    letter-spacing: 4px;
    cursor: pointer;
}

/* ----- */

.schedule,
.breakfast,
.lunch-dinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.schedule-items>p>span {
    font-weight: 600;
}

.rezervation>p {
    margin: 0 30px;
    margin-bottom: 50px;
}


/* -- Footer -- */

footer {
    width: calc(100% + 60px);
    height: 100%;
    margin: 0 -30px;
    background-color: #F1F2E4;
}

.footer-content {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 60%;
    text-align: center;

}

.footer-logo>p:nth-child(2) {
    text-align: center;
    margin-top: -15px;
}

.footer-menu>h3 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.footer-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-contact p{
    margin: 0;
    line-height: 24px;
}

.footer-contact img{
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.footer-contact >h3{
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
}

.copyright{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright p:nth-child(1){
    margin-top: 10px;
    margin-bottom: 5px;
}

.copyright p:nth-child(2){
    font-weight: 600;
}


/* -- SMALL TABLETS -- */
@media screen and (min-width: 620px){

    body{
        overflow-x: hidden;
    }

    .hero-img img{
        margin: 0 -40px;
    }

    .hero .text{
        top: 87px;
    }

    .specialty-img img{
        width: 30%;
    }

    .call-to-action-img img, .call-to-action-img::after{
        width: calc(100% + 80px);
        margin: 0 -40px;
    }

    .carousel-item{
        width: 40%;
    }

    .rezervation-content{
        padding: 40px 70px 50px 70px;
    }

    .reservation-table-content p{
        text-align: center;
    }

    .reservation-table-content{
        padding: 45px 50px;
    }

    .rezervation{
        width: calc(100% + 80px);
        margin: 0 -40px;
    }

    footer{
        width: calc(100% + 80px);
        margin: 0 -40px;
    }

}


/* -- LARGE TABLETS & LAPTOPS -- */
@media screen and (min-width: 810px){

    body{
        overflow-x: hidden;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
    }

    .hero-img img{
        margin: 0 -55px;
    }

    .hero .text p{
        display: block !important;
        width: 50%;
        color: var(--white-color);
    }

    .hero .text h1{
        width: 50%;
    }

    .hero .text{
        top: 135px !important;
    }

    .call-to-action-img img, .call-to-action-img::after{
        width: calc(100% + 110px);
        margin: 0 -55px;
    }


    .specialty-img img:nth-child(2){
        display: inline;
    }

    .specialty-img{
        grid-column: 8/13;
        grid-row: 1;
        margin-top: 160px;
    }

    .specialty-img img{
        width: 80%;
        margin: 0;
    }

    .specialty-img img:nth-child(2){
        margin-top: 40px;
    }

    .specialty-img img:nth-child(3), .specialty-img img:nth-child(4){
        display: none;
    }

    .specialty-text{
        grid-row: 1;
        grid-column: 1/7;
        margin-top: 95px;
        align-self: self-start;
    }

    .specialty button{
        grid-row: 1;
        grid-column: 1/5;
        height: 40px;
    }


    /*-- Rezervation -- */

    .rezervation-content{
        margin: 0;
        padding: 50px 55px;
    }

    .reservation-table{
        grid-row: 1;
        grid-column: 3/10;
        margin: 0;
       
    }

    .schedule{
        grid-row: 2;
        grid-column: 1/6;
        display: block;
    }

    .breakfast{
        grid-row: 3;
        grid-column: 1/6;
        display: block;
    }

    .lunch-dinner{
        grid-row: 3;
        grid-column: 7/11;
        display: block;
    }

    .reservation-table-content{
        padding: 30px 25px;
    }

    /* Footer */

    .footer-content{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo, .footer-contact, .footer-menu{
        flex: 1;
    }

    .footer-menu, .footer-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    footer {
        width: calc(100% + 110px);
        margin: 0 -55px;
    }

}


/* -- DESKTOP -- */
@media screen and (min-width: 1440px){

    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
    }

    /* Hero */
    .hero-img img{
        max-width: 2500px;
    }

    .hero-img::after{
        max-width: 2500px;
    }

    .hero .text{
        width: 90%;
    }

    .hero .text h1 {
        width: 30%;
    }

    .hero .text p {
        width: 30%;
    }

    /*Specialty*/

    .specialty-text{
        margin-top: 185px;
    }

    .specialty-img{
        display: grid;
        margin-top: 80px;
    }

    .specialty-img img:nth-child(1){
        margin: 0;
        padding: 0;
        width: 250px;
        height: 250px;
        grid-row: 1;
        grid-column: 11/13 !important;
        align-self: self-end;
        
    }

    .specialty-img img:nth-child(2){
        margin: 0;
        padding: 0;
        width: 250px;
        height: 330px;
        grid-row: 1;
        grid-column: 8/10;
    }

    .specialty-img img:nth-child(3){
        display: inline;
        margin: 0;
        margin-top: 50px;
        padding: 0;
        width: 250px;
        height: 250px;
        grid-row: 2;
        grid-column: 8/10;
    }

    .specialty-img img:nth-child(4){
        display: inline;
        margin: 0;
        padding: 0;
        margin-top: 50px;
        width: 250px;
        height: 330px;
        grid-row: 2;
        grid-column: 11/13;
    }

    /* Call to action */

    .call-to-action-img img{
        height: 350px;
    }

    .call-to-action-img::after{
        height: 350px;
    }

    .carousel{
        justify-content: center;
    }

    .carousel-item{
        width: 250px;
    }

    /*Rezervation*/

    .reservation-table{
        grid-row: 1;
        grid-column: 1/5;
    }

    .schedule{
        margin: 0;
        grid-row: 1;
        grid-column: 7/10;
    }

    .breakfast {
        
        grid-row: 1;
        grid-column: 7 / 10;
        align-self: self-end;
    }

    .lunch-dinner {
        grid-row: 1;
        grid-column: 10 / 13;
        align-self: self-end;
    }

    .rezervation>p{
        margin-left: 70px;
        margin-bottom: 0;
        padding-bottom: 50px;
    }

    .rezervation {
        width: calc(100% + 110px);
        margin: 0 -55px;
    }

    /* Footer */

    .footer-content{
        padding: 20px 55px;
    }

    .footer-schedule{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .footer-schedule > h3{
        margin-top: 35px;
    margin-bottom: 15px;
        text-align: center;
    }

    .footer-schedule-items>p{
        margin-bottom: 8px !important;
    }

    .footer-schedule-items>p>span{
        font-weight: 600;
    }
}
