/* -- Hero -- */
.hero {
    height: 100vh;
}

.hero-img img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: 0 -30px;
    top: 0;
    z-index: 1;
}

.hero-img::after {
    content: "";
    position: absolute;
    background-color: rgba(23, 25, 27, 0.70);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero .text {
    position: absolute;
    z-index: 2;
    display: flex;
    height: calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}

.hero .text h1 {
    color: var(--white-color);
    font-weight: 500;
}


/* -- Specialty -- */

.specialty-img img {
    width: 80%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.specialty-img {
    text-align: center;
}

.specialty-text h2 {
    margin-bottom: 40px;
}

.specialty button {
    margin-top: 40px;
}


/* -- Call to action -- */

.call-to-action {
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
}

.call-to-action-img img {
    width: calc(100% + 60px);
    margin: 0 -30px;
    height: 220px;
    object-fit: cover;
}

.call-to-action-img {
    position: relative;
}

.call-to-action-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(23, 25, 27, 0.70);
    backdrop-filter: blur(5px);
    width: calc(100% + 60px);
    margin: 0 -30px;
    height: 220px;
}

.call-to-action button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.call-to-action button {
    width: 60%;
    border: 1px solid var(--accent-color);
    background-color: transparent;
}

.call-to-action button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}


/* -- Dishes -- */
/* Carousel */

.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px 0;
}


.carousel-item {
    flex: none;
    scroll-snap-align: start;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carousel-item h3 {
    margin: 20px 0 10px;
}

.carousel-item p{
    margin: 0 10px;
}


.dishes{
    text-align: center;
}

.dishes button{
    margin-top: 70px;
    margin-bottom: 70px;
}

.dishes h1{
    margin-bottom: 40px;
}


/* -- Reservation -- */

.rezervation{
    width: calc(100% + 60px);
    height: 100%;
    margin: 0 -30px;
    background-image: url(../../assets/img/rivior/contact-section-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rezervation-content{
    padding: 40px 30px 50px 30px;
}

.reservation-table{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 50px 0;
}

.reservation-table-content{
    padding: 35px 22px;
}

.reservation-table-content h2{
    text-align: center;
    color: var(--secondary-color);
    font-weight: 500;
}

.reservation-table-content p{
    color: var(--white-color);
    margin-bottom: 8px;
}

.thank-you{
    text-align: center;
}

/* Form */

#name{
    width: 100%;
}

#phone{
    width: 100%;
}

#persons {
    width: 50%;
}

#time{
    width: 50%;
}

.form-item-row{
    display: flex;
    gap: 35px
}

#date{
    width: 100%;
}

form input{
    height: 35px;
    margin-top: 25px;
    border: 2px solid var(--white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

input[type=submit]{
    width: 100%;
    background-color: var(--white-color);
    font-size: 20px;
    font-family: var(--main-font), var(--fallback-font);
    letter-spacing: 4px;
    cursor: pointer;
}

/* ----- */

.schedule, .breakfast, .lunch-dinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.schedule-items > p > span{
    font-weight: 600;
}

.rezervation > p{
    margin: 0 30px;
    margin-bottom: 50px;
}