/* Override CSS rule from base.css & header.css & footer.css */

/* base.css */
body {
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
}

/* header.css */
header {
    max-width: 1920px;
    margin: 0 auto;

}

.desktop-nav-bar>hr {
    width: auto;
    margin: 0;
}

.top-nav {
    padding: 0 20px;

}

.logo h2,
.logo p {
    color: var(--black-color);
}

.ham-menu span {
    background-color: var(--black-color);
}

/* footer.css */

footer {
    width: 100%;
    margin: 0;
}   

/* ------------------ */

/* Hero */
.hero-img{
    position: relative;
}

.hero-img img{
    margin-top: 87px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 1;
}


.hero-img::after{
    content: "";
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(23, 25, 27, 0.70);
    z-index: 2;
}

.hero-text h1{
    margin: 0;
    color: var(--white-color);
    font-size: 40px;
    font-weight: 600;
    z-index: 3;
}

.hero-text{
    max-width: 1920px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    margin-top: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu List */


.menu-content{
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}


.menu>img{
    position: relative;
    width: 100%;
    margin-top: -15px;
    z-index: 4;
}

.menu-item-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.menu-item-img{
    position: relative;
}

.menu-item-img::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 2;
}

.menu-item{
    position: relative;
    width: 100%;
    min-width: 280px;
    max-width: 310px;
    transition: transform 0.3s ease;
}

.menu-item:hover{
    transform: translateY(-10px);   
}

.menu-item h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 30px;
    font-weight: 600;
    z-index: 3;
}

.menu{
    background-image: url(../../assets/icons/rosii_frunze_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}




/* -- LARGE TABLETS & LAPTOPS -- */
@media screen and (min-width: 810px){

    .grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
        row-gap: 70px;
    }

    .hero-img img{
        margin-top: 0;
    }

    .hero-text{
        height: 200px;
    }

    /* Menu */

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item{
        width: 100%;
        min-width: 0;
        max-width: 320px;
    }

    .menu-content{
        padding: 150px 50px;
    }

    .breakfast{
        grid-row: 1;
        grid-column: 1/6;
    }

    .soup{
        grid-row: 1;
        grid-column: 8/13;
    }

    .main-dish{
        grid-row: 2;
        grid-column: 1/6;
    }

    .pizza{
        grid-row: 2;
        grid-column: 8/13;
    }

    .desert{
        grid-row: 3;
        grid-column: 1/6;
    }

    .drink{
        grid-row: 3;
        grid-column: 8/13;
    }

}


/* -- DESKTOP -- */
@media screen and (min-width: 1440px){

   

    .menu-content{
        padding: 100px 70px 150px;
    }

    .breakfast{
        grid-row: 1;
        grid-column: 1/4;
    }

    .soup{
        grid-row: 1;
        grid-column: 5/8;
    }

    .main-dish{
        grid-row: 1;
        grid-column: 9/13;
    }

    .pizza{
        grid-row: 2;
        grid-column: 1/4;
    }

    .desert{
        grid-row: 2;
        grid-column: 5/8;
    }

    .drink{
        grid-row: 2;
        grid-column: 9/13;
    }

}